<h2 mat-dialog-title>{{data.pokemon.name | uppercase}}</h2>
<mat-dialog-content class="mat-typography">
  <h3>Develop across all platforms</h3>
  <p>Learn one way to build applications with Angular and reuse your code and abilities to build
    apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>

    <img src="{{data.pokemon.imgUrl}}" width="300px" height="300px">


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>

</mat-dialog-actions>
